@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);

html {
    display: table;
    margin: auto;
    
    font-family: "cwTeXKai", sans-serif;
    font-weight: bold;
    font-size: 35;
}

body {
    margin: 0%;
    background: #FFF8D6;
}

#nav {
    width: 100%;
    background: #555555;
    color: white;
    padding: 10px 15px;
}

.compass {
    width: 350;
    margin: auto;
}

.container {
    display: flex;
    vertical-align: middle;
    gap: 50px;
}

input[type="button"] {
    width: 90px;
    height: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: #617A55;
    border-radius: 10px;
    background: #A4D0A4;
    font-size: 35;
    font-family: "cwTeXKai", sans-serif;
    font-weight: bold;
    color: #394867;
}

input[type="checkbox"] {
    appearance: none;
    width: 26px;
    height: 26px;
    border: 4px solid;
    border-radius: 13px;
    border-color: #3C3D3D;
    background: #997F4D;

    display: grid;
    place-content: center;
}

input[type="checkbox"]:checked {
    background-color: orange;
}

.state {
    display: none;
}

.turn_btns {
    display: flex;
    width: 350;
}

.turn_btns > input {
    flex: auto;
    margin: 0 20px;
}

.rings {
    display: flex;
    gap: 40px;
}

.ring > p {
    user-select: none;
    font-size: 30;
}

.ring > input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 175px;
    margin-left: 5px;
    margin-top: -64px;
}

.ring > input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    border-radius: 15px;
    background: transparent;
}

.ring > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background: transparent;
}

.actions {
    display: flex;
    padding: 10px 0;
    gap: 126px;
    margin-left: 44px;
}

.action_checkbox {
    display: flex;
    padding-bottom: 10px;
}

.action_checkbox > input {
    flex: auto;
}

.action_turn_btn {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.solution {
    padding-left: 20px;
    padding-top: 30px;

    font-size: 30;
    font-family: "cwTeXKai", sans-serif;
    font-weight: bold;
    color: #394867;
}

#solve_btn {
    width: 76;
    height: 48;
}

.result {
    display: flex;
    gap: 20px;
    align-items: center;
}

.result>input[type="button"] {
    margin-top: -9px;
}

.result>input[type="text"] {
    width: 300;
    height: 100;
    border-radius: 10px;
    text-align: center;
    
    font-size: 40;
    font-family: "cwTeXKai", sans-serif;
    font-weight: bold;
    color: #394867;
}