html {
    display: table;
    margin: auto;
}

nav {
    background: #555555;
    padding: 10px 15px;
    color: white;
    margin-top: -10px;
}

.container {
    display: flex;
    vertical-align: middle;
    gap: 50px;
}

.state {
    display: none;
}

.turn_btns {
    display: flex;
    width: 350;
}

.turn_btns > input {
    flex: auto;
    margin: 0 20px;
}

.rings {
    display: flex;
    gap: 40px;
}

.ring > p {
    user-select: none;
    font-size: 30;
}

.ring > input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 175px;
    margin-left: 5px;
    margin-top: -64px;
}

.ring > input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    border-radius: 15px;
    background: transparent;
}

.ring > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background: transparent;
}

.actions {
    display: flex;
    padding: 10px 0;
    gap: 126px;
    margin-left: 44px;
}

.action_checkbox {
    display: flex;
    padding-bottom: 10px;
}

.action_checkbox > input {
    flex: auto;
}

.action_turn_btn {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.solution {
    padding-top: 10px;
}